<div class="viewer">
	<div class="left">
		<img src="/assets/caret-left-8x.png">
	</div>

	<div id="indImg">
		<img src="assets/adventure.png" class="big"> 
	</div>

	<div class="info">
		<div class="imgTitle">
			<p class="1">
				Adventure
			</p>
		</div>
	</div>

	<div class="right">
		<img src="/assets/caret-right-8x.png">
	</div>
</div>

<br>

<div class="thumbs">
	<% @images.each do |image| %>
		<div class="indThu">
			<%= image_tag(image.thumb_url, class: :"small #{image.id}") %>
		</div>
	<% end %>
</div>
