<div class="viewer">
			<div class="left">
				<img src="/assets/caret-left-8x.png">
			</div>
	<% @images.each do |image| %>
		<div class="indImg">
			
			<%= image_tag(image.url, class: :"big #{image.id}") %>
			
			<div class="info">
				<%= content_tag(:div, content_tag(:p, "#{image.title}", class: :"title #{image.id}"), class: "imgTitle") %>

				<%= content_tag(:div, content_tag(:p, "Taken at #{image.location} on #{image.date}", class: :"info #{image.id}"), class: :imgInfo) %>
			</div>
		</div>
	<% end %>
			<div class="right">
				<img src="/assets/caret-right-8x.png">
			</div>
</div>

<br>

<div class="thumbs">
	<% @images.each do |image| %>
		<div class="indThu">
			<%= image_tag(image.thumb_url, class: :"small #{image.id}") %>
		</div>
	<% end %>
</div>